@model Blog
<style>
    header {
        display: none;
    }

    .footer {
        display: none;
    }

</style>
<partial name="_LoginPartial" />
<h1 style="text-align:center; margin-top:20px">ADMIN DASHBOARD</h1>
<div class="container" style="font-size:16px">
<h2>Tạo Blog Mới</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="Title">Tiêu đề:</label>
        <input type="text" class="form-control" id="Title" name="Title" required>
    </div>

    <div class="form-group">
        <label for="Author">Tác giả:</label>
        <input type="text" class="form-control" id="Author" name="Author" required>
    </div>

    <div class="form-group">
        <label for="CreatedDate">Ngày tạo:</label>
        <input type="date" class="form-control" id="CreatedDate" name="CreatedDate" required>
    </div>

    <div class="form-group">
        <label for="ImageFile">Ảnh đại diện:</label>
        <input type="file" class="form-control-file" id="ImageFile" name="ImageFile">
    </div>

    <div class="form-group">
        <label for="Content">Nội dung:</label>
        <textarea class="form-control" id="Content" name="Content" required rows="6"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Tạo Blog</button>
</form>
</div>