@model List<TheLoai>

<ul style="list-style: none; padding: 0;">
    @foreach (var category in Model)
    {
        <li><a style="color:black" href="@Url.Action("Index", "Shop", new { theloai = category.Name })">@category.Name</a></li>
    }
</ul>